doctype html
html(lang='en')
  head
    title
        | duckburg
    link(rel='stylesheet', href='/css/style.css')
    link(rel='shortcut icon' href='img/favicon.ico')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")

    body
      
      div.offClicker
      
      div.messageHolder.invisible
        
      div.masterSearchBox
        label.mainLabel
          | orders
        span.msOrderHolder
        label.mainLabel
          | customers
        span.msCustomerHolder
          
      a.githubButton(href="http://www.github.com/adamvanlente/duckburg/issues", target="new")
        i.fa.fa-github
        | issues
      
      include header
      
      include popupDiv
      
      block content
        
      include scripts
