div.existingCustomerMessage.hidden
  div.innerMessage
    h2
      | customers exist
    p#existingCustomerMessageContent

    p#existingCustomerList

    button.createExistingCustomer
      | create customer anyway?
    button.cancelAddingCustomer
      | don't add customer
