div.form-hidden.formCatalogItem.basicForm
  div.innerForm

    h1
      | catalog item

    input(type="text", id="item_name", placeholder="Item name *", class="full-width")
    input(type="text", id="item_product_name", placeholder="product *", class="full-width formCatalogItemProductListener", readonly="true")
    input(type="text", id="product_sizes", placeholder="size options *", class="half-width")
    input(type="text", id="product_colors", placeholder="color options *", class="half-width")
    | <br>
    input(type="text", id="product_design", placeholder="design", class="full-width formCatalogItemDesignListener", readony="true")
    input(type="hidden", id="product_design_id")
    div.editingCatalogItemDesignDetails

    input(type="text", id="product_price", placeholder="price*", class="half-width")
    input(type="text", id="product_saleprice", placeholder="sale price", class="half-width")
    | <br>

    textarea(id="product_desc", placeholder="description")

    input(type="text", id="product_family", placeholder="product family", class="third-width")
    input(type="text", id="product_tags", placeholder="tags", class="third-width")
    input(type="text", id="product_category", placeholder="category", class="third-width")
    | <br>

    input(type="text", id="product_ishidden", placeholder="hide item?", class="third-width")
    input(type="text", id="product_isindexed", placeholder="index on site?", class="third-width")
    input(type="text", id="item_expiration_date", placeholder="expires on", class="third-width")

    | <br>

  include formButtons
