div.form-hidden.formLicensingType.basicForm
  div.innerForm

    h1
      | licensing type

    input(type="text", id="licensing_type", placeholder="type, eg MSU or GREEK", class="full-width")
    input(type="text", id="contact_name", placeholder="Name of contact", class="full-width")
    input(type="text", id="contact_number", placeholder="Number of contact", class="full-width")
    input(type="text", id="contact_email", placeholder="Email of contact", class="full-width")

  include formButtons
