div.form-hidden.formColors.basicForm
  div.innerForm

    h1
      | color

    input(type="text", id="color_name", placeholder="name of color *", class="half-width")
    input(type="text", id="hex_code", placeholder="hex with pound (eg #FFFFFF) *", class="half-width")

  include formButtons
