div.form-hidden.formShippingMethods.basicForm
  div.innerForm

    h1
      | shipping methods

    input(type="text", id="shipping_method", placeholder="shipping method *", class="full-width")

  include formButtons
