div.form-hidden.formCustomer.basicForm
  div.innerForm

    h1
      | customer

    input(type="text", id="first_name", placeholder="first name *", class="half-width")
    input(type="text", id="last_name", placeholder="last name *", class="half-width")
    | <br>
    input(type="text", id="email_address", placeholder="email *", class="third-width")
    input(type="text", id="phone_number", placeholder="phone *", class="third-width")
    input(type="text", id="company", placeholder="company", class="third-width")

    input(type="text", id="address_one", placeholder="address", class="full-width")
    input(type="text", id="address_two", placeholder="address cont'd", class="full-width")

    input(type="text", id="address_city", placeholder="city", class="third-width")
    input(type="text", id="address_state", placeholder="state", class="third-width")
    input(type="text", id="address_zip", placeholder="zip", class="third-width")

    textarea(id="customer_notes", placeholder="notes", class="textarea-standard")

  include formButtons
