div.form-hidden.formColors
  div.innerForm

    h1
      | color

    input(type="text", id="first_name", placeholder="first name *", class="half-width")
    input(type="text", id="last_name", placeholder="last name *", class="half-width")
    | <br>

    textarea(id="customer_notes", placeholder="notes")

  include formButtons
