div.form-hidden.formOrders.basicForm
  div.innerForm

    h1
      | order

    input(type="text", id="order_due_date", placeholder="due date *", class="third-width")
    input(type="text", id="order_status", placeholder="status *", class="third-width")
    input(type="text", id="order_delivery_method", placeholder="delivery method *", class="third-width")


  include formButtons
