div.form-hidden.formJobStatus.basicForm
  div.innerForm

    h1
      | job status

    input(type="text", id="job_status_name", placeholder="job status *", class="full-width")

  include formButtons
