div.form-hidden.formSuppliers.basicForm
  div.innerForm

    h1
      | supplier

    input(type="text", id="supplier_name", placeholder="supplier name *", class="half-width")
    input(type="text", id="website", placeholder="site url", class="half-width")
    | <br>
    input(type="text", id="contact_person", placeholder="name of contact", class="half-width")
    input(type="text", id="contact_number", placeholder="contact phone", class="half-width")

    input(type="text", id="contact_email", placeholder="contact email", class="full-width")

  include formButtons
