div.form-hidden.formJobPositions.basicForm
  div.innerForm

    h1
      | job positions

    input(type="text", id="position_name", placeholder="Role (eg Production Manager) *", class="full-width")
    input(type="text", id="end_search_date", placeholder="When to stop displaying *", class="full-width")
    textarea(id="position_description", placeholder="Description of role*", class="textarea-standard")

  include formButtons
