div.form-hidden.formProducts.basicForm
  div.innerForm

    h1
      | product

    input(type="text", id="product_name", placeholder="product name *", class="full-width")
    input(type="text", id="colors", placeholder="comma separated list of colors, eg black, white *", class="full-width")
    input(type="text", id="sizes", placeholder="available sizes, eg S, M, L, 4X *", class="full-width")

    textarea(id="description", placeholder="description", class="textarea-standard")

    input(type="text", id="supplier_price", placeholder="Our price (eg 2.99) *", class="half-width")
    input(type="text", id="rd_item_id", placeholder="RD ID *", class="half-width")
    | <br>

    input(type="text", id="supplier_item_id", placeholder="Supplier ID *", class="half-width")
    input(type="text", id="supplier_id", placeholder="Supplier *", class="half-width formListenerSupplier", readonly="true")

  include formButtons
