div.form-hidden.formDesigns.basicForm
  div.innerForm

    h1
      | design

    input(type="text", id="design_name", placeholder="design name *", class="full-width")
    input(type="hidden", id="design_images_list")
    input(type="text", id="design_color_count", placeholder="color count, eg 0,2 for 0F, 2B, or 1,2,0,4 for 1F, 2B, 0L, 4R", class="full-width")
    span.designImageHolder
      label
        | Image
      label
        input(type="file", id="design_image", class="designImagePicker")
        input(type="hidden", id="design_image_ref", class="designImageUrl")
      | <br>

    textarea(id="design_notes", placeholder="notes", class="textarea-standard")

    span.existingImages


  include formButtons
