div.loginForm
  
  input(placeholder="username", id="login_form_username", type="text")
    
  input(placeholder="password", id="login_form_pass", type="password")
    
  button(onclick="duckburg.utils.login()")
    | login
    
div.forgotPassword(onclick="duckburg.utils.forgotPasswordPopup()")
  | forgot password?
