span
  label
    | Email
  input(type="text", class="form-control", name="duckburg-login-email")

span
  label
    | Password
  input(type="password", class="form-control", name="duckburg-login-password")
