div.menu.invisible
  
  a.menuOrdersButton.standardMenuItem(href="/")
    | orders
  a.menuPrintingButton.standardMenuItem(href="/printing")
    | printing
  a.menuObjectsButton.standardMenuItem(href="/objects")
    | objects
  a.menuUsersButton.adminOnlyMenuItem(href="/users")
    | users

button.mobileMenuToggler(onclick="duckburg.menu.toggleForMobile()")
  | menu
