div.menu
  button.menuAddNewOrderButton
    | new order
  
  button.menuMainButton(onclick="duckburg.main.launch();")
    i.fa.fa-home
    | home
  
  button.menuObjectsButton
    | objects

div.objectMenu

div.popupItemHolder
