div.menu.invisible
  
  
  a.menuNewOrderButton.standardMenuItem(href="/order")
    i.fa.fa-plus-square
  a.menuOrdersButton.standardMenuItem(href="/")
    | orders
  a.menuPrintingButton.standardMenuItem(href="/printing")
    | printing
  a.menuUsersButton.standardMenuItem(href="/dos")
    | daily order sheet
  a.menuObjectsButton.standardMenuItem(href="/objects")
    | objects
  a.menuUsersButton.adminOnlyMenuItem(href="/finances")
    | finances
  a.menuUsersButton.adminOnlyMenuItem(href="/users")
    | users

button.mobileMenuToggler(onclick="duckburg.menu.toggleForMobile()")
  | menu
