div.newOrderForm.hidden
  div.innerForm
    div.duck-form-heading
      | create new order
    input.duck-form-input#due-date(placeholder="due date")
    input.duck-form-input#job-name(placeholder="job name")
    select.duck-form-select#status
      option
        | choose a status
    textfield.duck-form-textfield#comments

    div.duck-form-customers
      span.duck-form-customer#billing-customer
        label
          | billing customer
      button.toggle-shipping-customer
        | use billing customer
      span.duck-form-customer#shipping-customer
        label
          | shipping customer

    div.duck-form-buttons
      button.duck-form-create-button
        | create
      button.duck-form-cancel-button
        | X
