extends components/base

block append content
  
  include components/menu
  
  div.assetListUploader
    
  div.assetListSearch
    
  div.assetList
    
  div.imgViewer
        
        
        
        
        
