extends components/base

block append content

  include components/messages

  include components/header
  
  include components/menu
    
  include components/wrapper

  include components/loginForm
  
  include components/imgDetail

  include components/existingCustomerMessage

  div.offClicker
