extends components/base

block append content



  if (user)

    include components/header

    include components/wrapper

    include components/newOrderForm

  else if !user

    form(action="/login", method="post", class="loginForm")

      include components/loginForm

      button(type="submit", class="")
        | login

  if user
    div.userName= user.local.name
