extends components/base

block append content

  include components/messages

  include components/header

  include components/menu

  include components/loginForm

  include components/wrapper

  include components/formCustomer

  include components/formProducts

  include components/formColors

  include components/formSuppliers

  include components/formDesigns

  include components/formCatalogItem

  include components/formLicensingType

  include components/formShippingMethods

  include components/formJobStatus
  
  include components/formJobType

  include components/formJobPositions

  include components/formOrders

  include components/existingCustomerMessage

  div.whiteOut

  div.imageLightboxBlackout
    div.imageLightboxHolder
