// Media Query Breakpoints
$iphone-portrait: 320px
$iphone-landscape: 568px
$ipad-portrait: 569px
$ipad-landscape: 1024px
$desktop: 1025px
$desktop-large: 1824px

// Breakpoint function
=break-for($device)

  @if $device == standard
    @media only screen and (min-width: $desktop)
      @content

  @if $device == standard-large
    @media only screen and (min-width: $desktop-large)
      @content

  @if $device == iphone
    @media only screen and (min-device-width: $iphone-portrait) and (max-device-width: $iphone-landscape)
      @content
    @media only screen and (min-width: $iphone-portrait) and (max-width: $iphone-landscape)
      @content

  @if $device == ipad
    @media only screen and (min-device-width: $ipad-portrait) and (max-device-width: $ipad-landscape)
      @content
    @media only screen and (min-width: $ipad-portrait) and (max-width: $ipad-landscape)
      @content

// Transition
=trans($transtype)
  -webkit-transition: $transtype
  -moz-transition:    $transtype
  -o-transition:      $transtype
  transition:         $transtype

$easybreezy: ease-in-out all 0.2s
$easyslider: all 0.5s cubic-bezier(0.7,0.53,0,0.87)

// Colors
$light-gray: #FAFAFA
$med-light-gray: #F1F1F1
$light-gray-border: #E8E1E1
$light-gray-text: #CDC9C9
$title-gray: #494747
$heading-color: #5899BA
$create-blue: rgb(98, 153, 200)
$cancel-red: #E77575
$go-green: rgb(85, 186, 113)
$minty-green: rgb(102, 192, 141)

// Grid measurements
$grid: 12px
$grid2: $grid * 2
$doc-width: 800px
$tablet-width: 600px
$phone-width: 275px

// Text sizes
$doc-font-size: 16px
$tablet-font-size: 18px
$phone-font-size: 24px

// Fonts
.light-font
  font-family: "Roboto Light", sans-serif
  font-weight: 100

.standard-font
  font-family: "Roboto", sans-serif

.serif-font
  font-family: "Playfair", serif

.serif-title-font
  font-family: "Playfair Bold", serif

body
  margin: 0
  background-color: $light-gray

.basic-button
  -webkit-appearance: none
  border: none
  border-radius: 1px
  cursor: pointer
  +trans($easybreezy)

.blockOut
  display: none
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0

.offClicker
  @extend .blockOut
  z-index: 2

.whiteOut
  @extend .blockOut
  background: rgba(102, 192, 141, 0.65)
  z-index: 11
  +trans($easybreezy)

.imageLightboxBlackout
  @extend .blockOut
  background: rgba(255,255,255,0.9)
  z-index: 10001

.imageLightboxHolder
  display: block
  margin: 50px auto
  padding: 8px
  height: 350px
  width: 350px
  background: white
  border: 10px solid #E5E5E5
  box-shadow: 0 0 20px rgba(0,0,0,0.1)
  // TODO global for image dimensions once we settle on that.
  +break-for(iphone)
    height: 200px
    width: 200px
