.header
  @extend .serif-title-font
  display: block
  position: fixed
  padding: 4px 8px
  background: $med-light-gray
  color: $title-gray
  left: 0
  right: 0
  top: 0
  z-index: 2

  .light
    opacity: 0.2

#current_user
  .timeClockButton
    @extend .basic-button
    @extend .light-font
    display: inline-block
    margin-left: 12px
    color: white
    &.in
      display: inline-block
      color: white
      background: $minty-green
      font-style: normal
      font-size: 11px
      padding: 2px 10px
      margin: 0 0px
      margin-left: 12px
      &:hover
        background: #333
        color: $minty-green
    &.out
      display: inline-block
      color: white
      background: $cancel-red
      font-style: normal
      font-size: 11px
      padding: 2px 10px
      margin: 0 0px
      margin-left: 12px
      &:hover
        background: #333
        color: $cancel-red

.logoutButton
  @extend .basic-button
  @extend .light-font
  display: inline-block
  color: white
  background: #333
  font-style: normal
  font-size: 11px
  padding: 2px 10px
  margin: 0 4px
  margin-left: 4px
  &:hover
    background: #DCDCDC
    color: #333

.current_user
  @extend .light-font
  color: #333
  display: inline-block
  float: right
  margin: 0px
  font-size: 12px
  color: rgb(133, 133, 207)
  width: 500px
  text-align: right
  +trans($easybreezy)
  label
    &:hover
      cursor: pointer
      opacity: 0.7

.masterSearch
  @extend .basic-button
  @extend .serif-title-font
  background: none
  display: inline-block
  color: #333
  font-size: 16px
  margin: 0 2px
  color: rgba(85, 85, 85, 0.63)
  +break-for(iphone)
    width: 100px
