.menu
  position: fixed
  display: block
  top: 30px
  +break-for(iphone)
    margin-top: 39px

  button
    display: inline
    -webkit-appearance: none
    border: none
    cursor: pointer
    padding: 4px 12px
    +trans($easybreezy)
    @extend .light-font

// Buttons
.menuAddNewOrderButton
  color: #fff
  background: $minty-green
  &:hover
    color: $minty-green
    background: #333

.menuObjectsButton
  color: #333
  background: #F1F1F1
  &:hover
    color: #F1F1F1
    background: #333


.objectMenu
  display: none
  z-index: 1
  position: fixed
  top: 53px
  background: rgb(242, 242, 242)

  button
    display: inline
    -webkit-appearance: none
    border: none
    cursor: pointer
    padding: 4px 12px
    +trans($easybreezy)
    @extend .light-font

    &.evenClass
      color: #333333
      background: #E2DCDC
    &.oddClass
      color: #333333
      background: #D8D0D0
    &:hover
      color: #E2DCDC
      background: #333333
