.orderListHeader
  display: block
  margin-top: 50px
  padding: 8px

.orderList
  display: block
  margin-top: 12px
  padding: 8px

  span
    @extend .traditional-width
    display: block

    &.loadingOrderMessage
      @extend .light-font
      display: block
      font-size: 12px
      color: #777
      padding: 8px
      margin: 16px auto
      border: 1px solid
      border-radius: 1px
      text-align: center

    &.orderListNoOrdersFoundSpan
      @extend .light-font
      font-size: 13px
      text-align: center
      border: 1px solid
      padding: 12px
      margin: 16px auto
      color: rgb(218, 99, 99)

.orderHolderDiv
  @extend .light-font
  font-size: 13px
  color: #333333
  margin: 12px auto 18px auto
  padding: 8px 8px 2px 8px
  width: 700px
  border-radius: 1px
  box-shadow: 0 1px 1px rgba(0,0,0,0.15)

  &.odd
    background: rgba(241, 241, 241, 0.48)
  &.even
    background: #EDEDED

  span
    &.orderIssuesSpan
      display: block
      text-align: center
      width: 700px
      margin: 0 auto
      span
        display: block
        width: 98%
        margin: 0 auto
        color: white
        font-size: 10px
        padding: 4px
        margin-bottom: 5px
        i
          display: inline-block
          width: 30%
          text-align: right
        label
          display: inline-block
          width: 65%
          text-align: left
          margin-left: 12px

    &.orderTopSpan
      display: block
      text-align: center
      width: 100%

      a
        &.orderNameLabel
          @extend .basic-button
          font-size: 16px
          text-transform: uppercase
          width: 250px
          display: inline-block
          text-align: center
          background: none
          margin-left: 8px
          padding: 4px
          text-decoration: none
          color: #747779
          &:hover
            background:  #333
            color: #F1F1F1
      label
        &.imgIconLabel
          @extend .light-font
          display: inline-block
          font-size: 11px
          width: 76px
          color: #d8cccc
          white-space: nowrap
          overflow: scroll
          vertical-align: middle
          i
            display: inline-block
            font-size: 12px
            margin: 2px
            color: rgb(168, 177, 207)
            cursor: pointer
            +trans($easybreezy)
            &:hover
              color: #333

        &.datePickerLabel
          display: inline-block
          font-size: 10px
          padding: 0 4px
          background: rgba(0, 0, 0, 0.08)
          color: rgba(0, 0, 0, 0.32)
          border-radius: 15px
          margin: 0 2px

        &.totalPiecesLabel
          font-size: 11px
          color: #A99191
          display: inline-block
          width: 75px

        &.orderNumberLabel
          font-size: 11px
          background: #E4E0E0
          color: rgba(255, 255, 255, 0.73)
          padding: 2px
          width: 42px
          display: inline-block
          text-align: center
          border-radius: 1px
          margin-right: 24px
        &.orderStatusLabel
          @extend .basic-button
          font-size: 11px
          padding: 4px
          width: 80px
          display: inline-block
          text-align: center
          color: white
          margin-left: 12px

      input
        &.dueDateInput,
        &.printDateInput
          @extend .light-font
          @extend .basic-button
          font-size: 10px
          background: none
          color: #333333
          width: 60px
          text-align: left

    &.orderBottomSpan
      display: block
      padding: 2px
      background: rgba(0, 0, 0, 0.05)
      width: 99%
      margin: 12px auto
      text-align: center
      border-radius: 1px

      label
        @extend .light-font

        &.invoiceIconLabel
          @extend .basic-button
          display: inline-block
          cursor: pointer
          padding: 1px 8px 2px 9px
          border-radius: 2px
          margin: 2px
          background: rgb(130, 153, 200)
          color: white
          font-size: 11px
          &:hover
            background: #333
            color: rgb(130, 153, 200)
        &.totalPiecesLabel
          font-size: 11px
          display: inline-block
          width: 134px
          text-align: center
          color: #2F2929

        &.updatedAtLabel
          font-size: 9px
          display: inline-block
          width: 180px
          text-align: center
          color: #CBC5C5

        &.orderPaymentButton
          @extend .basic-button
          display: inline-block
          cursor: pointer
          background: #66c08d
          padding: 1px 8px 2px 9px
          border-radius: 2px
          margin: 2px
          color: white
          font-size: 11px
          &.disabled
            opacity: 0.2
            pointer-events: none
          &:hover
            background: #333
            color: $minty-green

        &.orderBalanceLabel,
        &.orderTotalLabel
          display: inline-block
          font-size: 11px
          width: 100px
          text-align: center
          color: #78A98C
        &.custNameLabel
          font-size: 11px
          display: inline-block
          margin: 0 8px
          width: 112px
          text-align: center

          em
            font-size: 11px
            font-style: normal
            color: #B8AFAF

        &.custPhoneLabel
          font-size: 11px
          display: inline-block
          margin: 0 8px
          width: 100px
          text-align: center

          em
            font-size: 11px
            font-style: normal
            color: #B8AFAF


.orderListFilters
  @extend .light-font
  display: block
  position: fixed
  left: 0
  background: rgb(240, 240, 240)
  top: 100px
  border-top: 5px solid rgb(234, 228, 228)

  input
    &.filterByName
      @extend .light-font
      @extend .basic-button
      font-size: 12px
      width: 141px
      background: none
      text-align: center
      margin: 4px auto
      display: block
      padding: 3px
      border-bottom: 1px solid rgba(0, 0, 0, 0.35)

  h1
    font-size: 11px
    padding: 2px 8px
    margin: 0 auto
    text-align: center
    color: rgba(186, 180, 180, 0.44)
    display: block
    width: 150px

  span
    &.statusFilterHolder
      font-size: 13px
      display: block
      padding: 4px

    label
      &.filterHeader
        font-size: 11px
        display: block
        padding: 4px 10px

    span
      &.statusFilterList
        font-size: 13px

        label
          font-size: 11px
          display: block
          margin: 2px 14px

          span
            font-size: 11px
            display: inline-block
            width: 75px
            color: gray

          em
            font-size: 11px
            display: inline-block
            width: 46px
            color: rgb(213, 207, 207)
            text-align: center
            font-style: normal
            &:hover
              color: #333
              cursor: pointer

.orderListStatusSelector
  display: block
  width: 88px
  height: 10px

  label
    @extend .light-font
    font-size: 11px
    text-align: center
    display: block
    padding: 4px
    cursor: pointer
    color: white
    +trans($easybreezy)
    &:hover
      color: #333
